input[type="date"]{
  position: relative;
  min-height:25px;
  padding: 5px 7px;
  border: 1px solid #ddd;
  
  font-size:15px;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 

.input_date_box input:after{
  position: absolute;
  top:50%;
  right:10px;
  content: '';
  width: 20px;
  height:22px;

  background: #fff url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGdp0dwVDjBfMH4M1sZA3I59RHLsCMryOyXQ&usqp=CAU') center center /contain;
  transform: translateY(-50%);
  z-index: 0;
}